@model AutoApplication.DataLibrary.Model.Auto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoMakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoMakerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoModelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoModelYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoUsageStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoUsageStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoListedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoListedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoVinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoVinNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
