@model AutoApplication.DataLibrary.Model.Auto

@{
    ViewBag.Title = "Details";
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.AutoMakerName @Model.AutoModelName @Model.AutoModelYear
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Car Details</h3>
            <ul>
                <li> @Html.DisplayNameFor(model => model.AutoModelName)</li>
                <li> @Html.DisplayFor(model => model.AutoModelName)</li>

                <li>@Html.DisplayNameFor(model => model.AutoMakerName)</li>
                <li>@Html.DisplayFor(model => model.AutoMakerName)</li>


                <li>@Html.DisplayNameFor(model => model.AutoModelYear)</li>
                <li>@Html.DisplayFor(model => model.AutoModelYear)</li>



                <li>@Html.DisplayNameFor(model => model.AutoUsageStatus)</li>
                <li>@Html.DisplayFor(model => model.AutoUsageStatus)</li>



                <li>@Html.DisplayNameFor(model => model.AutoListedPrice)</li>
                <li>@Html.DisplayFor(model => model.AutoListedPrice)</li>


                <li>@Html.DisplayNameFor(model => model.AutoVinNumber)</li>
                <li>@Html.DisplayFor(model => model.AutoVinNumber)</li>

            </ul>
        </div>

    </div>

</div>
<!-- /.container -->


<p>
    Editing an auto should be available only to admin
    @Html.ActionLink("Sale", "Index", "Sale", new { id = @Model.AutoID }, null);
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.AutoID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
