@model AutoApplication.DataLibrary.Model.Auto

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


@{
    Html.RenderPartial("_SuccessPopUp");
}

@using (Html.BeginForm("Edit", "Auto", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AutoID)


<div class="card card-outline-secondary" style="background-color: #FAFAFA; margin-top: 50px">
    <div class="card-body">
        <h3 class="text-center">Edit Auto Information</h3>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AutoMakerName)
                @Html.EditorFor(model => model.AutoMakerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoMakerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AutoModelName)
                @Html.EditorFor(model => model.AutoModelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoModelName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AutoModelYear)
                @Html.EditorFor(model => model.AutoModelYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoModelYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AutoUsageStatus)
                @Html.EditorFor(model => model.AutoUsageStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoUsageStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AutoListedPrice)
                @Html.EditorFor(model => model.AutoListedPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoListedPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AutoVinNumber)
                @Html.EditorFor(model => model.AutoVinNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoVinNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
</div>

    <div class="row justify-content-end">
        <div class="col-4 width50" style="text-align: right">
            <input type="submit" value="Edit" class="btn btn-primary width20" />
            @Html.ActionLink("Back to List", "Index", "Auto", null, new { @class = "btn btn-danger width30" })
        </div>
    </div>


</div>
}

