@using PagedList.Mvc;
@model PagedList.IPagedList<AutoApplication.DataLibrary.Model.Auto>


@{
    ViewBag.Title = "AdminIndex";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<style>

    .vert-spacing {
        margin-top: 1cm;
        margin-bottom: 1cm;
    }
</style>
<h2 class="vert-spacing">Autos In Inventory</h2>

@using (Html.BeginForm("Index", "Auto", FormMethod.Get))
{
<div class="form-row">
    <div class="form-group col-md-4">
        Search By: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
      
    </div>
    <div class="form-group col-md-4">
        <br />
        <input type="submit" value="Search" class="btn btn-danger width20" />
    </div>
</div>
    <p>
        

      
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Maker Name", "Index", new { sortOrder = ViewBag.AutoMakerNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Model Name", "Index", new { sortOrder = ViewBag.AutoModelNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Maker Year", "Index", new { sortOrder = ViewBag.AutoYearNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Usage Status", "Index", new { sortOrder = ViewBag.AutoUsageSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Listed Price", "Index", new { sortOrder = ViewBag.AutoListPriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Vin Number", "Index", new { sortOrder = ViewBag.AutoVinSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
</table>
@{
    Html.RenderPartial("_CarTiles");
}


@if (Model.Count == 0)
{
    <h4 class="text-primary">
        Sorry!
    </h4>
    <h5 class="text-secondary"> No Result Found.</h5>
}

<table class="table">
    <tr>
        <td>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </td>
        <td>
            <div class="bottom_btns float-right">
                <p class"text-right" style="margin-top:0.8cm">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-danger" })
                </p>
            </div>
        </td>
    </tr>
</table>


