@model IEnumerable<AutoApplication.DataLibrary.Model.SalesPerson>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCommission)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCommission)
            </td>
            <td>

                @Html.ActionLink("Detail", "Detail", "Report", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>


@Html.ActionLink("Back", "Index", "Home")